- function grabTemplate (path) {
-   return require('!!raw!vue-loader/lib/selector?type=template!examples/' + path + '.vue')
- }
- function grabScript (path) {
-   return require('!!raw!vue-loader/lib/selector?type=script!examples/' + path + '.vue').replace(/^[\/\n]*/m,'')
- }
- function grabTemplateHtml (path, ctx) {
-   return require('!!pug?pretty!vue-loader/lib/selector?type=template!examples/' + path + '.vue')()
- }
- function hyphenate (path) {
-  return path
-   .replace(/^[A-Z]/, x => x.toLowerCase())
-   .replace(/[A-Z ]/g, x => '-' + x.toLowerCase())
-   .replace(/[^A-Za-z]/g, '-')
-   .replace(/-{2,}/g, '-')
- }

mixin section(name)
  .grid__row
    .grid__column
      section.docs(id=hyphenate(name))
        h1.typo__h1=name
        hr.typo__hr
        if block
          block

mixin subsection(name)
  .grid__row
    .grid__column
      h2.typo__h2(id='sub-' + hyphenate(name))=name
      if block
        block

mixin nav-section(name)
  li.list__heading
    a.link.blank__link(href="#" + hyphenate(name))=name

mixin nav-subsection(name)
  li.list__element
    a.link.list__link(href="#sub-" + hyphenate(name))=name

mixin example(path)
  .example
    if block
      block
    .grid__column.grid__unit--md-5
      #{hyphenate(path)}
    .grid__column.grid__unit--md-7
      label(style="display: flex").typo__label
        span(style="flex: 1") Code sample
        lang-switcher(v-bind:langs="markupLangs" v-bind:current="markupLanguage" v-on:select="selectLanguage")
      div(v-show="markupLanguage === 'pug'")
        pre(v-pre).language-pug
          code=grabTemplate(path)
      div(v-show="markupLanguage === 'html'")
        pre(v-pre).language-html
          code=grabTemplateHtml(path, this)
      div
        pre(v-pre).language-javascript
          code=grabScript(path)
